body {
background-color: #071a52;
background-size: 100%;
font-family: Times new roman;
color: black;

}
.tekst1{
	
	text-align: center;
}

#div1
{

 width: 100em;
 height: 50em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color: #086972;
}
#zdj1
{
margin-left:  500px;
margin-right: auto;
} 
#zdj2
{
margin-left: 450px;	

}	
	
#div2
{

 width: 10em;
 height: 50em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
 .row:after {
  content: "";
  display: table;
  clear: both;
}
#zdj3
{
margin-left: 300px;	

}	
#zdj4
{
margin-left: 400px;	

}	
#tytul
{
text-decoration: underline;

}	
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout:center;
}
th, td {
  padding: 5px;
  text-align: left;
}